
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.outfit{
font-family: 'Outfit', sans-serif;
}
@layer components{
    .btn{
        @apply w-64 h-16 rounded-full font-outfit font-normal leading-7 text-white ;
    }
}

.home-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto auto auto;
}